.title {
  font-size: 2em;
  margin-bottom: 1rem;
}
.desc {
  margin-bottom: 1rem;
}
.list {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}
.item {
  font-size: 1.2em;
}
.count {
  margin-left: 0.5em;
  font-weight: bold;
}
.price {
  margin-bottom: 1rem;

  span {
    font-weight: bold;
    font-size: 1.5em;
  }
}

.controls {
  display: flex;
  gap: 20px;
  align-items: center;
}
